body {
background:
  linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	
background-blend-mode: screen;
}

.gradientBg {
    width: 100%;
    height: 500px;
}
