* {
    font-weight: 400;
    font-style: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0
}
body {
    font-family: "Source Sans Pro";
    background: #cccac4;
    color: #16161d;
    overflow-x: hidden
}
.top {
    border-radius: .5rem .5rem 0 0
}
.background {
    position: relative;
    background: #fff
}
.background:after {
    display: block;
    content: "";
    padding-bottom: 60%
}
.preview .background {
    opacity: 0
}
.fallback .background {
    background-blend-mode: normal!important
}
.container {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
    padding: .25rem
}
@media (min-width: 30rem) {
    .container {
        padding: 1rem
    }
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.background-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.go {
    opacity: 1
}
.tile {
    display: inline-block;
    color: #16161d;
    position: relative;
    padding: 1rem;
    -webkit-transition: -webkit-transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s;
    transition: transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 19rem;
    -ms-flex: 1 0 19rem;
    flex: 1 0 19rem
}
@media (min-width: 30rem) {
    .tile {
        -webkit-flex-basis: 22rem;
        -ms-flex: 0 1 22rem;
        flex-basis: 22rem
    }
}
.tile.opened {
    z-index: 200;
    -webkit-transition: -webkit-transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s;
    transition: transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s
}
.tile.opened:hover {
    -webkit-transition: -webkit-transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s;
    transition: transform .45s cubic-bezier(0.5, .9, .25, 1.15), opacity .45s
}
.preview .tile:not(.opened) {
    pointer-events: none;
    -webkit-transition: 0;
    transition: 0;
    opacity: 0
}
